*{
    margin: 0;
    font-family: 'Work Sans';
}



.title{
    text-align: right;
    background-image: url(../images/banner/banner2.png);
   background-repeat: no-repeat;
 background-size: cover;
 width: 1600px;
height: 808px;
}
.nav-title{
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: right;
color: #151414; 
margin: 50px  250px;
display:contents;


}
.nav-discription{
 color: #444343;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display:contents;
text-align: right;
margin: 50px  250px;



}
.btn-primary{
    color: #FFFFFF;
font-weight: 600;
font-size: 20px;
background:#F15B22 ;
border-radius: 5px;
line-height: 20px;
margin: 23px;

}
/* banner style */
.banner{
    display: flex;
    margin: 0 200px;
    align-items: center;
}
.banner-title{
    color: #151414;
    font-weight: 700;
font-size: 40px;
line-height: 47px;


}
.banner-description{
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;
}
.banner-list{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
list-style:circle;
}
/* my plans */
.my-plans{
    margin-top: 130px;
}
.skills-container{
    display: flex;
    gap:70px;
    align-items: center;
}
.section-title{
    font-size: 40px;
line-height: 47px;
text-align: center;
}
.skill-title{
    font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;
}